.git
.env
venv
env
__pycache__
*.py[cod]
uploads
pitaya_database.db
frontend/node_modules
frontend/dist
frontend/android
Mature Dragon Fruit
oversample
Yield_detection/runs
!Yield_detection/
!Yield_detection/runs/
Yield_detection/runs/*
!Yield_detection/runs/detect/
Yield_detection/runs/detect/*
!Yield_detection/runs/detect/dragonfruit_maturity5/
Yield_detection/runs/detect/dragonfruit_maturity5/*
!Yield_detection/runs/detect/dragonfruit_maturity5/weights/
Yield_detection/runs/detect/dragonfruit_maturity5/weights/*
!Yield_detection/runs/detect/dragonfruit_maturity5/weights/best.pt
*.ipynb
